{% extends 'base.html' %}
{% block body %}
<header>
    <div id="large-header" class="large-header">
        <canvas id="demo-canvas"></canvas>
        <h1 class="main-title">Wish <span class="thin">List</span></h1>
    </div>
</header>


<div class="portfolio">
    <div class="container about-text">
        <p class="text-justify">Данный проект является учебный проектом по освоению Django, </p>
        <p class="text-justify">может быть использовать как список покупок, </p>
        <p class="text-justify">список необходимых в походе вещей,</p>
        <p class="text-justify">Check List, чтобы не забыть все самое необходимое</p>

        </div>
</div>

{% endblock %}
